@function grey($value) {
  @return rgb($value, $value, $value);
}

@function elevationColor($value) {
  @if $value == 0 {
    @return grey(18);
  } @else if $value == 1 {
    @return grey(29);
  } @else if $value == 2 {
    @return grey(34);
  } @else if $value == 3 {
    @return grey(36);
  } @else if $value == 4 {
    @return grey(39);
  } @else if $value == 5 {
    @return grey(44);
  } @else if $value == 6 {
    @return grey(45);
  } @else if $value == 7 {
    @return grey(50);
  } @else if $value == 8 {
    @return grey(53);
  } @else if $value == 9 {
    @return grey(55);
  }
}

@mixin elevationBg($value) {
  background-color: elevationColor($value);
}

$text: grey(220);
$textDisabled: grey(170);
$primary: rgb(24, 160, 251);
$primaryFocus: rgb(75, 183, 255);
$highlight: rgb(103, 24, 251);
$highlightFocus: rgb(121, 49, 255);
$red: rgb(255, 110, 110);
$redFocus: rgb(255, 123, 123);
$padding: 2rem;
$navHeaderHeight: 5rem;

@mixin scrollbar($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // Chrome
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

#uiWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;

  #uiRoot {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.nav-header {
  position: absolute;
  width: 100%;
  height: $navHeaderHeight;
  background-color: elevationColor(3);
  color: $text;
  display: flex;
  align-items: center;
}

.blue {
  &.button {
    background-color: $primary;
    border-color: $primary;

    &:hover, &:focus {
      background-color: $primaryFocus;
      border-color: transparent;
    }

    &.button-outline, &.button-clear {
      color: $primary;
      background-color: transparent;

      &:hover, &:focus {
        color: $primaryFocus;
        border-color: $primaryFocus;
      }
    }
  }
}

$sidePanelMargin: 2rem;

.side-panel {
  position: absolute;
  top: #{$navHeaderHeight + $sidePanelMargin};
  right: 0;
  width: 300px;
  overflow-y: auto;
  max-height: calc(100% - #{$navHeaderHeight + 4rem});
  border-radius: 2rem;
  @include elevationBg(3);
  color: $text;
  padding: $padding;
  @include scrollbar(10px, rgb(24, 160, 251), elevationColor(9));
  transition: transform 0.5s;
  transform: translate(0, 0);

  &.hidden {
    transform: translate(100%, 0);
  }
}

.close-button {
  color: $red;
  font-size: 3rem;
  cursor: pointer;

  &:hover {
    color: $redFocus;
  }
}

.side-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.genome-table-wrapper {
  display: flex;
  flex-wrap: wrap;

  .gene-item {
    flex-grow: 1;
    flex-basis: 10%;
    background-color: elevationColor(8);
    margin: 0.2rem;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;

    &:before {
      content: '';
      float: left;
      padding-top: 100%;
    }

    &:hover {
      background-color: lighten(elevationColor(8), 10%);
    }

    &.gene-selected {
      background-color: $primary;
      color: white;

      &:hover {
        background-color: $primaryFocus;
      }
    }

    &.gene-disabled {
      background-color: elevationColor(0);
      color: $textDisabled;

      &:hover {
        background-color: lighten(elevationColor(0), 10%);
        color: white;
      }
    }

    &.gene-highlighted-1 {
      background-color: $highlight;

      &:hover {
        background-color: $highlightFocus;
        color: white;
      }
    }

    &.gene-highlighted-2 {
      background-color: $red;

      &:hover {
        background-color: $redFocus;
        color: white;
      }
    }
  }
}

.cell-info-wrapper {
  margin-bottom: 1rem;

  .cell-info-item {
    display: flex;
    align-items: center;

    .cell-info-key {
      flex-basis: 50%;
    }

    .cell-info-value {
      flex-basis: 50%;
    }
  }
}

.cell-panel-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  button:last-child {
    margin-bottom: 0;
  }
}
