@use '../shared/variables' as *;
@use '../shared/functions' as *;
@use '../shared/mixins' as *;

.main-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  @include elevationBg(0);
  padding: $mainScreenPadding;
  padding-top: #{$navHeaderHeight + $mainScreenPadding};

  @media screen and (max-width: $mobileWidth) {
    padding-top: #{$navHeaderHeightMobile + $mainScreenPadding};
  }
}

.buttons-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .button {
    width: 17rem;
    margin: 0.5rem;
  }
}

.genome-library-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  .genome-library-content-wrapper {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
  
    .genomes-list-wrapper {
      padding: 1rem;
      margin: 1rem;
      flex-grow: 1;
      @include elevationBg(2);
      overflow: auto;
      display: flex;
      flex-wrap: wrap;
      border-radius: 2rem;
      align-content: flex-start;
      @include scrollbar(10px, $primary, elevationColor(9));

      .no-genomes-message {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: $text;
        font-size: 3rem;
        user-select: none;
      }

      .genome-card {
        padding: 1rem;
        color: $text;
        flex-basis: 25%;
        min-width: 150px;

        @media screen and (max-width: $mediumScreenWidth) {
          flex-basis: 33%;
        }

        @media screen and (max-width: $mobileWidth) {
          min-width: unset;
          flex-basis: 50%;
        }

        @media screen and (min-width: $bigScreenWidth) {
          flex-basis: 20%;
        }

        &:before {
          content: '';
          float: left;
          padding-top: 100%;
        }

        .genome-card-content {
          @include elevationBg(5);
          border-radius: 1rem;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          overflow: hidden;

          &:hover {
            @include elevationBg(7);
          }

          .genome-card-info-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            flex-grow: 1;
            padding: 1rem;
          }
    
          .view-button-wrapper {
            display: flex;
            flex-direction: column;
            align-items: stretch;

            .button {
              margin-bottom: 0;
              border-radius: 0;
            }
          }
        }

        &.selected {
          .genome-card-content {
            background-color: $primary;
            color: #fff;

            &:hover {
              background-color: $primaryFocus;
            }
          }
        }
      }
    }
    
    .genome-panel {
      color: $text;
      margin: 1rem;
      @include elevationBg(2);
      border-radius: 2rem;
      transition: 0.5s;
      max-width: $sidePanelWidth;
      max-height: 100%;
      overflow-x: hidden;
      overflow-y: hidden;
      flex-shrink: 0;

      .genome-panel-content {
        padding: 2rem;
        width: $sidePanelWidth;
        max-height: 100%;
        overflow: auto;
        @include scrollbar(10px, $primary, elevationColor(9));
      }

      &.genome-panel-hidden {
        margin: 0;

        @media not screen and (max-width: $mobileWidth) {
          max-width: 0;
        }

        @media screen and (max-width: $mobileWidth) {
          max-height: 0;
        }
      }
    }
  
    @media screen and (max-width: $mobileWidth) {
      flex-direction: column-reverse;
      overflow: visible;
  
      .genomes-list-wrapper {
        margin: 0;
        margin-top: 1rem;
        width: 100%;
      }
  
      .genome-panel {
        margin: 0;
        margin-top: 1rem;
        width: 100%;
        max-width: 100%;
    
        .genome-panel-content {
          width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: $mobileWidth) {
    overflow: auto;
  }
}

.form-screen {
  margin: 1rem;
  padding: 2rem;
  @include elevationBg(2);
  border-radius: 2rem;
  color: $text;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: auto;
  @include scrollbar(10px, $primary, elevationColor(9));

  .form-header {
    display: flex;
    justify-content: center;
  }
}

.form-buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  * {
    margin: 0.5rem 1rem;
  }
}

.form-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.edit-genome-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;

  .genome-editor-wrapper {
    align-self: center;
    width: 300px;
  }
}

.new-simulation-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;

  .form-content {
    .inputs {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 600px;
      min-width: 300px;
      align-content: flex-start;
  
      .form-item {
        flex-basis: 40%;
        margin: 0.5rem 5%;
  
        .form-item-input {
          min-width: 90px;
        }
  
        @media screen and (max-width: $mobileWidth) {
          flex-basis: 100%;
          margin: 0;
        }
      }

      .form-items-header {
        font-size: 2rem;
        flex-basis: 100%;
        padding: 0.5rem;
        text-align: center;
      }
    }

    h3 {
      text-align: center;
    }
  }
}

.simulation-genome-picker {
  display: flex;
  align-items: center;

  .genomes-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 200px;
    border-radius: 1rem;
    margin-bottom: 2rem;
    @include elevationBg(0);
    @include scrollbar(10px, $primary, elevationColor(9));

    .genome-picker-item {
      padding: 1rem;
      cursor: pointer;
      @include elevationBg(1);

      &:hover {
        @include elevationBg(2);
      }

      &.selected {
        color: white;
        background-color: $primary;

        &:hover {
          background-color: $primaryFocus;
        }
      }
    }
  }

  .genome-picker-buttons {
    display: flex;
    flex-direction: column;

    .genome-picker-button {
      padding: 1rem;
      color: white;
      cursor: pointer;
      border-radius: 1rem;
      margin: 1rem;

      &.add-genome {
        background-color: $primary;

        &:hover {
          background-color: $primaryFocus;
        }
      }

      &.remove-genome {
        background-color: $red;

        &:hover {
          background-color: $redFocus;
        }
      }
    }
  }
}
