@use '../shared/variables' as *;
@use '../shared/functions' as *;
@use '../shared/mixins' as *;

.main-screen {
  width: 100%;
  height: 100%;
  @include elevationBg(0);
  padding: $mainScreenPadding;
  padding-top: #{$navHeaderHeight + $mainScreenPadding};

  @media screen and (max-device-width: $mobileWidth) {
    padding-top: #{$navHeaderHeightMobile + $mainScreenPadding};
  }
}

.buttons-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .button {
    width: 17rem;
    margin: 0.5rem;
  }
}

.genome-library-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  .genome-library-content-wrapper {
    flex-grow: 1;
    display: flex;
  
    .genomes-list-wrapper {
      padding: 1rem;
      margin: 1rem;
      flex-grow: 1;
      @include elevationBg(2);
      overflow: auto;
    }
    
    .genome-panel {
      margin: 1rem;
      padding: 1rem;
      width: $sidePanelWidth;
      @include elevationBg(2);
    
      .genome-panel-content {
        width: $sidePanelWidth;
      }
    }
  
    @media screen and (max-device-width: $mobileWidth) {
      flex-direction: column-reverse;
  
      .genomes-list-wrapper {
        margin: 0;
        margin-top: 1rem;
        width: 100%;
      }
  
      .genome-panel {
        margin: 0;
        margin-top: 1rem;
        width: 100%;
    
        .genome-panel-content {
          width: 100%;
        }
      }
    }
  }

  @media screen and (max-device-width: $mobileWidth) {
    overflow: auto;
  }
}
